{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="content">
        <header>
            <div class="logo"></div>
        </header>
        <section>
            <div class="form">
                <p>El estatus se donará para que tus amigos y familiares vean en tu muro maravillosas frases y fotos alusivas a nuestra campaña pedagógica y ciudadana.</p><br>
                <br><br>
                <p>Ya estas donando tu estatus para que tus amigos y familiares vean en tu muro maravillosas frases y fotos alusivas a nuestra campaña pedagógica y ciudadana.</p>

                <span style="font-weight: bold"> Contigo paz haremos a la Cámara por Bogotá: Vota 101 Verde. ¡GRACIAS! </span><br>
            </div>

        </section>
        <footer>
            <span>¡Contigo paz haremos!</span>
        </footer>
    </div>
{% endblock %}