{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="content">
        <header>
            <div class="logo"></div>
        </header>
        <section>
            <div class="form">
            	    <br>
            	    <p><a href="https://www.facebook.com/a.mockus" target="_parent">Ir a la página Facebook</a></p>
            	    <br>
                    <p>Gracias por tu donación!</p>
                    <br>
                    <p>Ya estás donando tu estatus para que tus amigos y familiares vean en tu muro maravillosas frases y fotos alusivas a la marcha por la vida. ¡Gracias! #VidaMarzo8</p>
                    <br>
                    <br>
                    <br>
                    <p>Ya estás donando tu estatus para que tus amigos y familiares vean en tu muro maravillosas frases y fotos alusivas a la marcha por la vida. ¡Gracias! #VidaMarzo8</p>
                    <br>
                    <form action="{% url 'facenew.connect.views.cancel' %}" method="post">
                        {% csrf_token %}
                        <input type="submit"  class="boton" value="Retirar mi donación">
                    </form>
                    <br>
                    <span style="font-weight: bold">Más información en <a href="http://www.lavidaessagrada.com" target="_blank">www.lavidaessagrada.com</a></span><br>
                    <br>
                    <a href="https://docs.google.com/document/d/1Ov2I-PbXfJxzTUv_o8iN6ik8x4oIgdXCFU76sWDX54c/edit?usp=sharing" target="_blank">Clic aquí para ver instrucciones y preguntas frecuentes.</a><br><br>
            </div>
        </section>
        <footer>
            <span>#VidaMarzo8</span>
        </footer>
    </div>
{% endblock %}
