{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="content">
        <header>
            <div class="logo"></div>
        </header>
        <section>
            <div class="form">
                <p>Sin tu apoyo solidario no podremos garantizar los derechos a la salud, a la educación, a la paz, a la justicia y a la vida digna. ¡Dona tu status o estado en Facebook en apoyo a Ángela Robledo, elegida la mejor Representante a la Cámara por Bogotá según 2 mil líderes de opinión!  <br><br>
                El estatus se donará para que tus amigos y familiares vean en tu muro maravillosas frases y fotos alusivas a nuestra campaña pedagógica y ciudadana.</p><br>
                <form action="{% url 'facenew.connect.views.done' %}" method="post">
                    {% csrf_token %}
                    <input type="submit"  class="boton" value="Donar mi estatus">
                </form>
                <br><br>
                <p>Recuerda que en cualquier momento puedes modificar o retirar tu donación.</p>

                <span style="font-weight: bold"> Contigo paz haremos a la Cámara por Bogotá: Vota 101 Verde. ¡GRACIAS! </span><br>
            </div>

        </section>
        <footer>
            <span>¡Contigo paz haremos!</span>
        </footer>
    </div>
{% endblock %}